.forgotPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 1rem;
  }
  
  .forgotPasswordContainer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #333;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 14px;
  }
  
  .inputGroup input {
    padding: 0.75rem;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submitButton {
    padding: 0.75rem;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: black;
  }
  
  .message {
    margin-top: 1rem;
    color: green;
    text-align: center;
  }
  
  .backToLogin {
    text-align: center;
    margin-top: 1.5rem;
  }
  
  .backToLogin a {
    color: #007bff;
    text-decoration: none;
  }
  
  .backToLogin a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries for responsiveness */
  
  /* Pour les petits écrans, comme les mobiles */
  @media (max-width: 480px) {
    .forgotPasswordContainer {
      padding: 1rem;
    }
  
    .title {
      font-size: 20px;
    }
  
    .inputGroup label {
      font-size: 12px;
    }
  
    .inputGroup input {
      font-size: 14px;
    }
  
    .submitButton {
      font-size: 14px;
      padding: 0.6rem;
    }
  
    .message {
      font-size: 14px;
    }
  
    .backToLogin a {
      font-size: 14px;
    }
  }
  
  /* Pour les tablettes en mode portrait */
  @media (max-width: 768px) {
    .forgotPasswordContainer {
      max-width: 400px;
    }
  
    .title {
      font-size: 22px;
    }
  
    .inputGroup label {
      font-size: 13px;
    }
  
    .inputGroup input {
      font-size: 15px;
    }
  
    .submitButton {
      font-size: 15px;
      padding: 0.7rem;
    }
  }
  
  /* Pour les grands écrans, comme les desktops */
  @media (min-width: 1024px) {
    .forgotPasswordContainer {
      max-width: 450px;
    }
  
    .title {
      font-size: 24px;
    }
  
    .inputGroup label {
      font-size: 14px;
    }
  
    .inputGroup input {
      font-size: 16px;
    }
  
    .submitButton {
      font-size: 16px;
    }
  }
  