/* src/styles/login.module.css */

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .loginContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    align-items: center;
  }

  .logContainer {
    background-color: white;
    border-radius: 8px;
    display: flex; /* Utilise Flexbox pour le centrage */
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    margin-top:-50px;
  }
  

  
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color:black;
  }
  
  .forgotPassword {
    margin-top: 10px;
    text-align: center;
  }
  
  .forgotPassword a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgotPassword a:hover {
    text-decoration: underline;
  }

  .errorMessage {
    color: red; /* Texte rouge */
    background-color: #ffcccc; /* Fond rose clair */
    border: 1px solid red; /* Bordure rouge */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
  }
  